<section class="about-us">
    <h2 class="about-title">About Us</h2>
    <p class="about-text">The model offers a framework for discussing problems related to the user's experience, as well
        as possible ways and
        means of solving them. Application development begins at the top level (strategy), where the future software
        product is
        described quite abstractly from the point of view of the expectations of both users and the customer.
    </p>
    <ul class="about-list">
        <li class="about-item">
            <h3 class="about-list-title">800</h3>
            <p class="about-list-text">Pupils</p>
        </li>
        <li class="about-item">
            <h3 class="about-list-title">18</h3>
            <p class="about-list-text">Teachers</p>
        </li>
        <li class="about-item">
            <h3 class="about-list-title">6</h3>
            <p class="about-list-text">Foreign languages</p>
        </li>
    </ul>
     <img src="./src/images/about-us.png" alt="about-us.png"> 
</section>