<section class="about-us">
    <div class="container">
        <h2 class="about__title">About Us</h2>
        <ul class="about__list list">
            <li class="about__item picture__item">
                <picture class="about__picture">
                    <source srcset="./images/about_us/about_us_1340.png 1x, ./images/about_us/about_us_1340@2x.png 2x" media="(min-width:1340px)" sizes="500px"/>
                    <source srcset="./images/about_us/about_us_992.png 1x, ./images/about_us/about_us_992@2x.png 2x" media="(min-width:992px)" sizes="336px"/>
                    <source srcset="./images/about_us/about_us_767.png 1x, ./images/about_us/about_us_767@2x.png 2x" media="(min-width:767px)" sizes="295px"/>
                    <source srcset="./images/about_us/about_us_575.png 1x, ./images/about_us/about_us_575@2x.png 2x" media="(min-width:575px)" sizes="352px"/>
                    <source srcset="./images/about_us/about_us_320.png 1x, ./images/about_us/about_us_320@2x.png 2x" media="(max-width:574px)" sizes="283px"/>
                    <img class="about__img" src="./images/about_us/about_us_1340.png"/>
                </picture>
            </li>
            <li class="about__item">
                <p class="about__text">The model offers a framework for discussing problems related to the user's experience, as well as possible ways and means of solving them. Application development begins at the top level (strategy), where the future software product is described quite abstractly from the point of view of the expectations of both users and the customer.</p>
                <ul class="about-stat__list list">
                    <li class="about-stat__item">
                        <h3 class="about-stat__title">800</h3>
                        <p class="about-stat__text">Pupils</p>
                    </li>
                    <li class="about-stat__item">
                        <h3 class="about-stat__title">18</h3>
                        <p class="about-stat__text">Teachers</p>
                    </li>
                    <li class="about-stat__item">
                        <h3 class="about-stat__title">6</h3>
                        <p class="about-stat__text">Foreign languages</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>