<section class="contact-us">
    <div class="container">
        <ul class="contact-us__list list">
            <li class="contact-us__cell">
                <img src="./images/contact_us/contact_us_1340@2x.png" alt="contact_us">
            </li>
            <li class="contact-us__cell">
                <h2 class="contact-us__title">Contact Us</h2>
                <p class="contact-us__text">Discover your current English level by taking our free online English test.Sign up to our newsletter for learning tips and free resources</p>
                <form class="contact-us__form">
                    <input name="email" id="email" class="contact-us__input" type="email" placeholder="Enter Your E-mail">
                    <button class="contact-us__button">Subscribe</button>
                </form>
            </li>
        </ul>
    </div>
</section>