<section class="hero">
  <div class="container">
    <ul class="hero__list list">
      <li class="hero__cell first">
        <ul class="cell__list list">
          <li class="cell__item">
            <h1 class="hero__title">Learn Any Foreign Language</h1>
          </li>
          <li class="cell__item">
            <svg class="hero__svg">
              <use href="./images/icons.svg#light_bulb"></use>
            </svg>
          </li>
        </ul>
        <p class="hero__text">
          With our teachers who write a program for each student, you will be
          able to make your first sketch after the first lesson.
        </p>
        <button class="hero__button">Get started</button>
      </li>
      <li class="hero__cell">
        <img
          class="hero__img"
          src="./images/hero/learning_1340.png"
          alt="learning"
        />
      </li>
    </ul>
  </div>
</section>
