<section class="hero">
    <div class="container">
      <ul class="hero__list list">
          <li class="hero__cell">
              <h1 class="hero__title">Learn <br> Any Foreign <br> Language <svg width="70px" height="85px" class="hero__svg"><use href="./images/icons.svg#light_bulb"></use></svg></h1>
              <p class="hero__text">With our teachers who write a program for <br> 
                  each student, you will be able to make your <br>
                  first sketch after the first lesson.</p>
                  <button class="hero__button">Get started</button>
          </li>
          <li class="hero__cell">
              <img class="hero__img" src="./images/hero/learning_1340.png" alt="learning">
          </li>
      </ul>
    </div>
  </section>