<section class="hero">
  <div class="container">
    <ul class="hero__list list">
        <li class="hero__cell">
            <h1 class="hero__title">Learn Any Foreign Language <svg width="70px" height="85px" class="hero__svg"><use href="./images/light-bulb.svg"></use></svg></h1>
            <p class="hero__text">With our teachers who write a program for 
                each student, you will be able to make your
                first sketch after the first lesson.</p>
                <button class="hero__button">Get started</button>
        </li>
        <li class="hero__cell">
            <img src="./images/learning-language.png" alt="">
        </li>
    </ul>
  </div>
</section>
