<section class="prices">
    <div class="container">
        <h2 class="prices__title">Prices</h2>
        <ul class="prices__list list">
            <li class="prices__item">
                <img src="" alt="" class="prices__img">
                <h3 class="prices__item-title">
                    Self-study online course
                </h3>
                <p class="prices__item-text">
                    Start learning English online in live classes
with qualified EC teachers and students 
from all over the world.
                </p>
                <div class="prices__wrapper">
                    <p class="prices__wrapper-value"> £5.99 </p>
                    <p class="prices__wrapper-text">
                        per month
                    </p>
                </div>
            </li>
            <li class="prices__item">
                <img src="" alt="" class="prices__img">
                <h3 class="prices__item-title">
                    Live online classes
                </h3>
                <p class="prices__item-text">
                    Interactive group classes with expert
teachers. Free 7-day trial
                </p>
                <div class="prices__wrapper">
                    <p class="prices__wrapper-value"> £12.99 </p>
                    <p class="prices__wrapper-text">
                        per month
                    </p>
                </div>
            </li>
            <li class="prices__item">
                <img src="" alt="" class="prices__img">
                <h3 class="prices__item-title">
                    Personal Tuition
                </h3>
                <p class="prices__item-text">
                    Online one-to-one English tutoring – enjoy
our first session for only $1
                </p>
                <div class="prices__wrapper">
                    <p class="prices__wrapper-value"> £20.99 </p>
                    <p class="prices__wrapper-text">
                        per month
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>