<section class="pricing">
    <div class="container">
        <h2 class="pricing__title">Prices</h2>
        <ul class="pricing__list list">
            <li class="pricing__item">
                <img src="" alt="" class="pricing__img">
                <h3 class="pricing__item-title">
                    Self-study online course
                </h3>
                <p class="pricing__item-text">
                    Start learning English online in live classes
with qualified EC teachers and students 
from all over the world.
                </p>
                <div class="pricing__wrapper">
                    <p class="pricing__wrapper-value"> £5.99 </p>
                    <p class="pricing__wrapper-text">
                        per month
                    </p>
                </div>
            </li>
            <li class="pricing__item">
                <img src="" alt="" class="pricing__img">
                <h3 class="pricing__item-title">
                    Live online classes
                </h3>
                <p class="pricing__item-text">
                    Interactive group classes with expert
teachers. Free 7-day trial
                </p>
                <div class="pricing__wrapper">
                    <p class="pricing__wrapper-value"> £12.99 </p>
                    <p class="pricing__wrapper-text">
                        per month
                    </p>
                </div>
            </li>
            <li class="pricing__item">
                <img src="" alt="" class="pricing__img">
                <h3 class="pricing__item-title">
                    Personal Tuition
                </h3>
                <p class="pricing__item-text">
                    Online one-to-one English tutoring – enjoy
our first session for only $1
                </p>
                <div class="pricing__wrapper">
                    <p class="pricing__wrapper-value"> £20.99 </p>
                    <p class="pricing__wrapper-text">
                        per month
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>