<section class="pricing">
    <div class="container">
        <h2 class="pricing__title title">Pricing</h2>
        <ul class="pricing__list list">
            <li class="pricing__item">
                <div class="pricing-info__wrapper">
                    <picture class="pricing__picture">
                        <source srcset="./images/pricing/test_1340.png 1x, ./images/pricing/test_1340@2x.png 2x" media="(min-width:1340px)" sizes="311px"/>
                        <source srcset="./images/pricing/test_992.png 1x, ./images/pricing/test_992@2x.png 2x" media="(min-width:992px)" sizes="222px"/>
                        <source srcset="./images/pricing/test_767.png 1x, ./images/pricing/test_767@2x.png 2x" media="(min-width:767px)" sizes="197px"/>
                        <source srcset="./images/pricing/test_575.png 1x, ./images/pricing/test_575@2x.png 2x" media="(min-width:575px)" sizes="291px"/>
                        <source srcset="./images/pricing/test_320.png 1x, ./images/pricing/test_320@2x.png 2x" media="(max-width:574px)" sizes="248px"/>
                        <img class="pricing__img" src="./images/pricing/test_1340.png" alt="pricing"/>
                      </picture>
                    <h3 class="pricing-list__title">Self-study online course</h3>
                    <p class="pricing-list__text">Start learning English online in live classes with qualified EC teachers and students from all over the world.</p>
                </div>
                <div class="pricing-price__wrapper">
                    <h4 class="pricing-price__value">£5.99</h4>
                    <p class="pricing-price__text">per month</p>
                </div>
            </li>
            <li class="pricing__item">
                <div class="pricing-info__wrapper">
                    <picture class="pricing__picture">
                        <source srcset="./images/pricing/lesson_1340.png 1x, ./images/pricing/lesson_1340@2x.png 2x" media="(min-width:1340px)" sizes="311px"/>
                        <source srcset="./images/pricing/lesson_992.png 1x, ./images/pricing/lesson_992@2x.png 2x" media="(min-width:992px)" sizes="222px"/>
                        <source srcset="./images/pricing/lesson_767.png 1x, ./images/pricing/lesson_767@2x.png 2x" media="(min-width:767px)" sizes="197px"/>
                        <source srcset="./images/pricing/lesson_575.png 1x, ./images/pricing/lesson_575@2x.png 2x" media="(min-width:575px)" sizes="291px"/>
                        <source srcset="./images/pricing/lesson_320.png 1x, ./images/pricing/lesson_320@2x.png 2x" media="(max-width:574px)" sizes="248px"/>
                        <img class="pricing__img" src="./images/pricing/lesson_1340.png" alt="pricing"/>
                      </picture>
                    <h3 class="pricing-list__title">Live online classes</h3>
                    <p class="pricing-list__text">Interactive group classes with expert teachers. Free 7-day trial.</p>
                </div>
                <div class="pricing-price__wrapper">
                    <h4 class="pricing-price__value">£12.99</h4>
                    <p class="pricing-price__text">per month</p>
                </div>
            </li>
            <li class="pricing__item">
                <div class="pricing-info__wrapper">
                    <picture class="pricing__picture">
                        <source srcset="./images/pricing/online_1340.png 1x, ./images/pricing/online_1340@2x.png 2x" media="(min-width:1340px)" sizes="311px"/>
                        <source srcset="./images/pricing/online_992.png 1x, ./images/pricing/online_992@2x.png 2x" media="(min-width:992px)" sizes="222px"/>
                        <source srcset="./images/pricing/online_767.png 1x, ./images/pricing/online_767@2x.png 2x" media="(min-width:767px)" sizes="197px"/>
                        <source srcset="./images/pricing/online_575.png 1x, ./images/pricing/online_575@2x.png 2x" media="(min-width:575px)" sizes="291px"/>
                        <source srcset="./images/pricing/online_320.png 1x, ./images/pricing/online_320@2x.png 2x" media="(max-width:574px)" sizes="248px"/>
                        <img class="pricing__img" src="./images/pricing/online_1340.png" alt="pricing"/>
                      </picture>
                    <h3 class="pricing-list__title">Personal Tuition</h3>
                    <p class="pricing-list__text">Online one-to-one English tutoring – enjoy our first session for only $1.</p>
                </div>
                <div class="pricing-price__wrapper">
                    <h4 class="pricing-price__value">£20.99</h4>
                    <p class="pricing-price__text">per month</p>
                </div>
            </li>
        </ul>
    </div>
</section>