<section class="skills">
  <div class="container skills__container">
    <h2 class="skills__title">Skills</h2>
    <ul class="skills__list list">
      <li class="skills__item skills__item--hg">
        <picture>
          <source
            srcset="
              /src/images/skills/speaking_1340.png    1x,
              /src/images/skills/speaking_1340@2x.png 2x
            "
            media="(min-width:1340px)"
            sizes="390px"
          />
          <source
            srcset="
              /src/images/skills/speaking_992.png    1x,
              /src/images/skills/speaking_992@2x.png 2x
            "
            media="(min-width:992px)"
            sizes="260px"
          />
          <source
            srcset="
              /src/images/skills/speaking_767.png    1x,
              /src/images/skills/speaking_767@2x.png 2x
            "
            media="(min-width:767px)"
            sizes="214px"
          />
          <source
            srcset="
              /src/images/skills/speaking_575.png    1x,
              /src/images/skills/speaking_575@2x.png 2x
            "
            media="(min-width:575px)"
            sizes="185px"
          />
          <source
            srcset="
              /src/images/skills/speaking_320.png    1x,
              /src/images/skills/speaking_320@2x.png 2x
            "
            media="(max-width:574px)"
            sizes="100%"
          />
          <img
            class="skills__img skills__img--mg1"
            src="/src/images/skills/speaking_320.png"
            alt="speaking"
          />
        </picture>
        <div class="skills__wrapper">
          <h3 class="skills__subtitle skills__subtitle--mg1">Speaking</h3>
          <div class="skills__box skills__box--hg1">
            <p class="skills__text">
              Improve your English skills and confidence. Live classes and
              interactive lessons online. 20% extra free for a limited time only
              <br /><br />
              Learn English online and improve your skills through our
              high-quality courses and resources – all designed for adult
              language learners.
            </p>
            <button class="skills__btn" type="button">Learn more</button>
          </div>
        </div>
      </li>
      <li class="skills__item skills__item--bg">
        <div class="skills-item__container">
          <ul class="skills-item__list list">
            <li class="skills__card">
              <picture>
                <source
                  srcset="
                    /src/images/skills/writing_1340.png    1x,
                    /src/images/skills/writing_1340@2x.png 2x
                  "
                  media="(min-width:1340px)"
                  sizes="293px"
                />
                <source
                  srcset="
                    /src/images/skills/writing_992.png    1x,
                    /src/images/skills/writing_992@2x.png 2x
                  "
                  media="(min-width:992px)"
                  sizes="205px"
                />
                <source
                  srcset="
                    /src/images/skills/writing_767.png    1x,
                    /src/images/skills/writing_767@2x.png 2x
                  "
                  media="(min-width:767px)"
                  sizes="200px"
                />
                <source
                  srcset="
                    /src/images/skills/writing_575.png    1x,
                    /src/images/skills/writing_575@2x.png 2x
                  "
                  media="(min-width:575px)"
                  sizes="182px"
                />
                <source
                  srcset="
                    /src/images/skills/writing_320.png    1x,
                    /src/images/skills/writing_320@2x.png 2x
                  "
                  media="(max-width:574px)"
                  sizes="100%"
                />
                <img
                  class="skills__img skills__img--mg2"
                  src="/src/images/skills/writing_320.png"
                  alt="writing"
                />
              </picture>
              <div class="skills__wrapper">
                <h3 class="skills__subtitle">Writing</h3>
                <div class="skills__box">
                  <p class="skills__text">
                    One of the most important and extensive areas of natural
                    science, the science that studies substances, also their
                    composition
                  </p>
                  <button class="skills__btn" type="button">Learn more</button>
                </div>
              </div>
            </li>
            <li class="skills__card skills__card--left">
              <picture>
                <source
                  srcset="
                    /src/images/skills/reading_1340.png    1x,
                    /src/images/skills/reading_1340@2x.png 2x
                  "
                  media="(min-width:1340px)"
                  sizes="371px"
                />
                <source
                  srcset="
                    /src/images/skills/reading_992.png    1x,
                    /src/images/skills/reading_992@2x.png 2x
                  "
                  media="(min-width:992px)"
                  sizes="243px"
                />
                <source
                  srcset="
                    /src/images/skills/reading_767.png    1x,
                    /src/images/skills/reading_767@2x.png 2x
                  "
                  media="(min-width:767px)"
                  sizes="216px"
                />
                <source
                  srcset="
                    /src/images/skills/reading_575.png    1x,
                    /src/images/skills/reading_575@2x.png 2x
                  "
                  media="(min-width:575px)"
                  sizes="198px"
                />
                <source
                  srcset="
                    /src/images/skills/reading_320.png    1x,
                    /src/images/skills/reading_320@2x.png 2x
                  "
                  media="(max-width:574px)"
                  sizes="100%"
                />
                <img
                  class="skills__img skills__img--mg3"
                  src="/src/images/skills/reading_320.png"
                  alt="reading"
                />
              </picture>
              <div class="skills__wrapper">
                <h3 class="skills__subtitle skills__subtitle--mg3">Reading</h3>
                <div class="skills__box">
                  <p class="skills__text">
                    perception and response actions of the user resulting from
                    the use and or up coming use of the product, system or
                    service
                  </p>
                  <button class="skills__btn" type="button">Learn more</button>
                </div>
              </div>
            </li>
            <li class="skills__card skills__card--flex">
              <picture>
                <source
                  srcset="
                    /src/images/skills/listening_1340.png    1x,
                    /src/images/skills/listening_1340@2x.png 2x
                  "
                  media="(min-width:1340px)"
                  sizes="382px"
                />
                <source
                  srcset="
                    /src/images/skills/listening_992.png  1x,
                    /src/images/skills/listening_992@2x.png 2x
                  "
                  media="(min-width:992px)"
                  sizes="254px"
                />
                <source
                  srcset="
                    /src/images/skills/listening_767.png    1x,
                    /src/images/skills/listening_767@2x.png 2x
                  "
                  media="(min-width:767px)"
                  sizes="202px"
                />
                <source
                  srcset="
                    /src/images/skills/listening_575.png    1x,
                    /src/images/skills/listening_575@2x.png 2x
                  "
                  media="(min-width:575px)"
                  sizes="206px"
                />
                <source
                  srcset="
                    /src/images/skills/listening_320.png    1x,
                    /src/images/skills/listening_320@2x.png 2x
                  "
                  media="(max-width:574px)"
                  sizes="100%"
                />
                <img
                  class="skills__img skills__img--"
                  src="/src/images/skills/listening_320.png"
                  alt="listening"
                />
              </picture>
              <div class="skills__wrapper skills__wrapper--pd">
                <h3 class="skills__subtitle skills__subtitle--mg4">
                  Listening
                </h3>
                <div class="skills__box skills__box--hg4">
                  <p class="skills__text skills__text--wd">
                    Here you can find activities to practise your listening
                    skills. Listening will help you to improve your
                    understanding
                  </p>
                  <button class="skills__btn skills__btn--mg" type="button">Learn more</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
