.logo {
    color: $add-black;
    font-size: 24px;

    @media screen and (min-width: 992px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1340px) {
        font-size: 36px;
    }
}

.logo__grey {
    color: $add-gray;
}