.about__title {
    color: #000;

font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 80px; /* 166.667% */
}
.about__text {
    color: #8F95A5;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about__list-title {
    color: #2A3246;

font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 80px; /* 166.667% */
}
.about__list-text {
    color: #8F95A5;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}