.contact-us__list {
    @include flex(135px)
}
.contact-us__img {
    width: 445px;
    height: 400px;
}
.contact-us__title {
    color: $add-black;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
}
.contact-us__text {
    @include text(20px);
    line-height: 30px;
    margin-top: 37px;
}
.contact-us__form {
    @include flex(12px);
    margin-top: 52px;
}
.contact-us__input {
    @include text(16px);
    line-height: 24px;
    padding: 26px 270px 30px 33px;
    box-sizing: border-box;
    border: 1px solid $text-color;
    border-radius: 10px;
}
.contact-us__button {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 25px 82px;
    border-radius: 10px;
    background: rgb(38, 50, 56);
}