.skills {
  padding-top: 50px;
  @media screen and (min-width: 575px) {
    padding-top: 96px;
  }
  @media screen and (min-width: 767px) {
    padding-top: 56px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 72px;
  }
  @media screen and (min-width: 1340px) {
    padding-top: 147px;
  }
}
.skills__title {
  text-align: center;
  margin-bottom: 32px;
  line-height: 80px;
  @media screen and (min-width: 575px) {
    font-size: 30px;
    margin-bottom: 34px;
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 37px;
  }
  @media screen and (min-width: 992px) {
    font-size: 36px;
    margin-bottom: 53px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 48px;
    margin-bottom: 96px;
  }
}
.skills__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  @media screen and (min-width: 575px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 767px) {
    gap: 10px;
    justify-content: flex-start;
  }
  @media screen and (min-width: 1340px) {
    gap: 10px;
  }
}
.skills__item {
  background-color: #f5f5f5;
  border-radius: 5px;
  @media screen and (min-width: 575px) {
    max-width: 240px;
  }
  @media screen and (min-width: 767px) {
    width: 224px;
  }
  @media screen and (min-width: 992px) {
    width: 303px;
  }
  @media screen and (min-width: 992px) {
    width: 435px;
  }
}
.skills__item--hg {
  @media screen and (min-width: 575px) {
    max-height: 534px;
  }
  @media screen and (min-width: 767px) {
    max-height: 662px;
  }
  @media screen and (min-width: 992px) {
    max-width: 303px;
    max-height: 729px;
  }
  @media screen and (min-width: 1340px) {
    min-width: 435px;
    max-height: 811px;
  }
}
.skills-item__container {
  background-color: white;
  @media screen and (min-width: 767px) {
    min-width: 462px;
  }
}
.skills__item--bg {
  background-color: white;
  @media screen and (min-width: 575px) {
    position: relative;
  }
  @media screen and (min-width: 767px) {
    position: static;
  }
}
.skills-item__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  @media screen and (min-width: 575px) {
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 767px) {
    flex-wrap: wrap;
    gap: 10px;
  }
  @media screen and (min-width: 992px) {
    min-width: 618px;
  }
  @media screen and (min-width: 992px) {
    min-width: 885px;
  }
}
.skills__card {
  background-color: #f5f5f5;
  border-radius: 5px;
  @media screen and (min-width: 575px) {
    max-height: 534px;
  }
  @media screen and (min-width: 767px) {
    flex-basis: calc((100% - 10px) / 2);
    max-height: 440px;
  }
  @media screen and (min-width: 992px) {
    width: 303px;
  }
  @media screen and (min-width: 1340px) {
    min-width: 435px;
  }
}
.skills__img--size1 {
  @media screen and (min-width: 1340px) {
    width: 390px;
  }
}
.skills__img--size2 {
  @media screen and (min-width: 992px) {
    width: 226px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1340px) {
    width: 280px;
  }
}
.skills__img--size3 {
  @media screen and (min-width: 992px) {
    width: 258px;
  }
  @media screen and (min-width: 1340px) {
    width: 340px;
  }
}
.skills__img--size4 {
  @media screen and (min-width: 767px) {
    width: 303px;
  }
  @media screen and (min-width: 992px) {
    min-width: 254px;
    padding-right: 20px;
  }
}
.skills__img--mg1 {
  @media screen and (min-width: 767px) {
    margin-top: 31px;
  }
  @media screen and (min-width: 992px) {
    margin-top: 0;
  }
}

.skills__img--mg3 {
  @media screen and (min-width: 767px) {
    margin-top: 36px;
  }
  @media screen and (min-width: 992px) {
    margin-top: 16px;
  }
}
.skills__card--left {
  @media screen and (min-width: 575px) {
    position: absolute;
    top: 564px;    
    left: -270px;
    max-width: 240px;
  }
  @media screen and (min-width: 767px) {
    position: static;
  }
  @media screen and (min-width: 992px) {
    max-width: 303px;
  }
}
.skills__card--hg {
  @media screen and (min-width: 992px) {
    max-width: 303px;
  }
  @media screen and (min-width: 992px) {
    max-height: 531px;
  }
}
.skills__card--flex {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  @media screen and (min-width: 992px) {
    max-width: 618px;
    min-height: 235px;
  }
  @media screen and (min-width: 1340px) {
    max-width: 885px;
    height: 248px;
  }
}
.skills__wrapper {
  padding: 10px 19px 45px 13px;
  @media screen and (min-width: 575px) {
    padding: 0px 20px 36px 15px;
  }
  @media screen and (min-width: 767px) {
    padding: 0px 10px 37px 17px;
  }
  @media screen and (min-width: 992px) {
    padding: 0px 13px 52px 28px;
  }
}
.skills__wrapper--pd {
  @media screen and (min-width: 767px) {
    order: -1;
    padding-right: 0;
    max-height: 210px;
  }
  @media screen and (min-width: 992px) {
    min-height: 204px;
  }
}
.skills__subtitle {
  color: $main-color;
  font-size: 18px;
  margin-bottom: 12px;
  @media screen and (min-width: 767px) {
    font-size: 20px;
  }
  @media screen and (min-width: 992px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 30px;
  }
}
.skills__subtitle--mg1 {
  @media screen and (min-width: 767px) {
    margin-top: 20px;
  }
}
.skills__subtitle--mg3 {
  @media screen and (min-width: 767px) {
    margin-top: 38px;
  }
}
.skills__subtitle--mg4 {
  @media screen and (min-width: 767px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 1340px) {
    margin-top: 0;
  }
}
.skills__box {
  @media screen and (min-width: 575px) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 240px;
  }
  @media screen and (min-width: 767px) {
    height: 169px;
  }
  @media screen and (min-width: 992px) {
    max-height: 134px;
  }
}
.skills__box--hg1 {
  @media screen and (min-width: 767px) {
    height: 312px;
  }
  @media screen and (min-width: 992px) {
    max-height: 280px;
  }
}
.skills__box--hg2 {
  @media screen and (min-width: 992px) {
    min-height: 155px;
  }
  @media screen and (min-width: 1340px) {
    min-height: 155px;
  }
}
.skills__box--hg4 {
  @media screen and (min-width: 767px) {
    height: 125px;
  }
  @media screen and (min-width: 992px) {
    height: 137px;
    max-width: 430px;
  }
}
.skills__text {
  color: $text-color;
  font-size: 12px;
  line-height: normal;
  @media screen and (min-width: 767px) {
    font-size: 13px;
  }
  @media screen and (min-width: 992px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 16px;
  }
}
.skills__text--wd {
  @media screen and (min-width: 767px) {
    max-width: 250px;
  }
  @media screen and (min-width: 992px) {
    min-width: 287px;
  }
  @media screen and (min-width: 1340px) {
    min-width: 335px;
  }
}
.skills__text--hg {
  @media screen and (min-width: 575px) {
    max-height: 198px;
  }
}
.skills__btn {
  margin-top: 34px;
  padding: 14px 43px;
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  transition: all 250ms ease-in-out;
  &:hover,
  &:focus {
    background-color: $accent-color;
    cursor: pointer;
  }
  @media screen and (min-width: 575px) {
    padding: 14px 54px;
    margin-top: 0;
  }
  @media screen and (min-width: 767px) {
    font-size: 16px;
    padding: 14px 43px;
  }
  @media screen and (min-width: 992px) {
    font-size: 18px;
    padding: 14px 41px 17px 42px;
    margin-top: 22px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 20px;
    padding: 15px 51px 15px 52px;
  }
}
.skills__btn--mg {
  @media screen and (min-width: 992px) {
    margin-top: 16px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 20px;
    padding: 15px 51px 15px 52px;
  }
}
