.skills {
  padding-top: 50px;
  @media screen and (min-width: 575px) {
    padding-top: 96px;
  }
  @media screen and (min-width: 767px) {
    padding-top: 56px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 72px;
  }
  @media screen and (min-width: 1340px) {
    padding-top: 147px;
  }
}
.skills__title {
  text-align: center;
  margin-bottom: 32px;
  line-height: 80px;
  @media screen and (min-width: 575px) {
    font-size: 30px;
    margin-bottom: 34px;
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 37px;
  }
  @media screen and (min-width: 992px) {
    font-size: 36px;
    margin-bottom: 53px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 48px;
    margin-bottom: 96px;
  }
}
.skills__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  @media screen and (min-width: 575px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 767px) {
    gap: 10px;
  }
  @media screen and (min-width: 992px) {
    gap: 13px;
  }
  @media screen and (min-width: 1340px) {
    gap: 18px;
  }
}
.skills__item {
  background-color: #f5f5f5;
  border-radius: 5px;
  @media screen and (min-width: 575px) {
    max-width: 240px;
  }
}
.skills__wrapper {
  padding: 10px 19px 45px 13px;
  @media screen and (min-width: 575px) {
    padding: 10px 25px 36px 15px;
  }
  @media screen and (min-width: 767px) {
    padding: 0px 10px 37px 17px;
  }
  @media screen and (min-width: 992px) {
    padding: 0px 13px 52px 28px;
  }
}
.skills__subtitle {
  color: $main-color;
  font-size: 18px;
  line-height: 80px;
  @media screen and (min-width: 767px) {
    font-size: 20px;
  }
  @media screen and (min-width: 992px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 30px;
  }
}
.skills__box {
  @media screen and (min-width: 575px) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 271px;
  }
  @media screen and (min-width: 767px) {
    height: 169px;
  }
  @media screen and (min-width: 992px) {
    height: 163px;
  }
}
.skills__text {
  color: $text-color;
  font-size: 13px;
  line-height: normal;
  @media screen and (min-width: 575px) {
    font-size: 12px;
  }
  @media screen and (min-width: 767px) {
    font-size: 13px;
  }
  @media screen and (min-width: 992px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 16px;
  }
}
.skills__btn {
  margin-top: 34px;
  padding: 14px 43px;
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  @media screen and (min-width: 575px) {
    padding: 14px 54px;
    margin-top: 0;
  }
  @media screen and (min-width: 767px) {
    font-size: 16px;
    padding: 14px 43px;
  }
  @media screen and (min-width: 992px) {
    font-size: 18px;
    padding: 16px 41px 19px 42px; 
  }
  @media screen and (min-width: 1340px) {
    font-size: 20px;
    padding: 15px 51px 15px 52px; 
  }
}
